div p span {
  visibility: hidden;
}

div p span:after {
  visibility: visible;
  content: "Example Content";
  position: absolute;
  left: 70px;
}

span.to-do-title {
  visibility: hidden;
}

span.to-do-title:after {
  visibility: visible;
  content: "Example Assignment";
  position: absolute;
  left: 70px;
}

div.mat-list-icon.item-thumbnail.ng-star-inserted {
  background:url("https://docs.google.com/drawings/d/e/2PACX-1vRGPkxM19HhaR63rb3lqpFGVv6SnrNJfpQVND2VtNmdtcH-u_HLg6A35CmvqzyFSNBkTY-RYSDiTW-H/pub?w=512&h=512");
  background-repeat: no-repeat;
  background-size:cover;
}

span.points.ng-star-inserted:after {
  display: none;
}

span.percent.ng-star-inserted:after {
  display: none;
}

lib-score {
  display: none;
}